<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lambda Admin Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/styles/admin/istoric.css">
</head>
<body style="margin: 0; padding: 0;"> 

  <header style="width: 100%; padding: 0.75em 0.1em; display: flex; align-items: center; border: 4px solid black;">
    <div style="display: flex; text-align: center; font-size: 1.2em; padding-left: 0.8em; flex: 15%;">
      <% if (privilegii === "admin") { %>
        <a href="/parola?idAngajat=<%=idAngajat%>" style="margin: 0.4em 0.6em; font-size: 1.6em; font-weight: bold;">&#10094; INAPOI</a>
      <% } else { %>
        <a href="/" style="margin: 0.4em 0.6em; font-size: 1.6em; font-weight: bold;">&#10094; INAPOI</a>
      <% } %>
    </div>
    <nav style="flex: 85%;">
      <ul style="font-size: 1.6em; display: flex; justify-content: space-between; padding: 0 5em 0 8em; list-style-type: none;">
        <li><a href="/admin?idAngajat=<%= idAngajat %>&privilegii=<%=privilegii%>">LOG</a></li>
        <li style="background-color: gray;"><a href="/admin/istoric?idAngajat=<%= idAngajat %>&privilegii=<%= privilegii %>">ISTORIC</a></li>
        <% if (privilegii === "admin") { %>
          <li><a href="/admin/angajati?idAngajat=<%= idAngajat %>&privilegii=<%=privilegii%>">ANGAJATI</a></li>
          <li><a href="/admin/operatii?idAngajat=<%= idAngajat %>&privilegii=<%=privilegii%>">OPERATII</a></li>
          <li><a href="/admin/utilaje?idAngajat=<%= idAngajat %>&privilegii=<%=privilegii%>">UTILAJE</a></li>
        <% } %>
      </ul>
    </nav>
  </header>

    <div class="cutiuta">
      <section class="meniu-adaugare"
        <% if (loturiIstoric.length > 3) { %>
          style="overflow-y: scroll;"
        <% } else { %>
          style="overflow-y: hidden;"
        <% } %>
      >
        <form class="bara-cautare" method="POST" action="/admin/istoric">
          <input style="font-size: 1.2em; width: 20vw;" placeholder="Cauta lot dupa numarul fisei" type="text" name="cauta">
          <input type="hidden" name="idAngajat" value="<%=idAngajat%>">
          <input type="hidden" name="privilegii" value="<%=privilegii%>">
          <button type="submit" style="padding: 0.2em 0.3em;"><img style="width: 1.2em; height: 1.2em;" src="/icons/cauta.png"></button>
      </form>
        <% if (cauta === null) { %>
          
          <% loturiIstoric.forEach(lot=> { %>
            <br>
            <div style="border: 3px solid black; width: 120%; height: 0.2em;"></div> <br>
            <div class="element2">
              <div class="div-stanga">
                <p style="margin: 0;">LOTUL #<%= lot._id %> - <%= lot.Identificator %>
                </p>
              </div>
              <div class="div-dreapta">
                <div style="width: 18vw; display: flex; justify-content: end;">
                  <div style="width: 100%; display: flex; flex-direction: column; align-items: end;">
                    <div style="width: 100%; display: flex; justify-content: end;">
                      FINALIZAT
                    </div>
                    <% if (lot.cantitateRebut> 0) { %>
                      <p style="margin: 0; margin-right: 12px;"><span style="color:red;"><%=lot.cantitateRebut%> Produse In Rebut</span></p>
                    <% } %>
                  </div>
                </div>
                <div style="width: 4vw; display: flex; justify-content: end;">
                  <button class="yes" onclick="window.location.href='/operator/print?id=<%= lot._id %>&tip=raport&idAngajat=<%=idAngajat%>&radacina=<%=privilegii%>&cauta=<%=cauta%>'"><img
                      style="width:2em; height: 2em;" src="/icons/print.png"></button>
                </div>
              </div>
            </div>
          <% }); %>
        <% } else { %>
          
          <% loturiIstoric.forEach(lot=> { %>
            <br>
            <div style="border: 3px solid black; width: 120%; height: 0.2em;"></div> <br>
            <div class="element2">
              <div class="div-stanga">
                <p style="margin: 0;">LOTUL #<%= lot._id %> - <%= lot.Identificator %>
                </p>
              </div>
              <div class="div-dreapta">
                <div style="width: 18vw; display: flex; justify-content: end;">
                  <div style="width: 100%; display: flex; flex-direction: column; align-items: end;">
                    <div style="width: 100%; display: flex; justify-content: end;">
                      FINALIZAT
                    </div>
                    <% if (lot.cantitateRebut> 0) { %>
                      <p style="margin: 0; margin-right: 12px;"><span style="color:red;"><%=lot.cantitateRebut%> Produse In Rebut</span></p>
                    <% } %>
                  </div>
                </div>
                <div style="width: 4vw; display: flex; justify-content: end;">
                  <button class="yes" onclick="window.location.href='/operator/print?id=<%= lot._id %>&tip=raport&idAngajat=<%=idAngajat%>&radacina=<%=privilegii%>&cauta=<%=cauta%>'"><img
                      style="width:2em; height: 2em;" src="/icons/print.png"></button>
                </div>
              </div>
            </div>
          <% }); %>
        <% } %>
        <br>
        <% if (loturiInCurs.length > 0) { %>
          <div style="border: 3px solid black; width: 120%; height: 0.2em;"></div> <br>
        <% } %>
      </section>
    </div>

</body>
</html>