
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/admin/angajati.css">
  <title>Lambda Admin Dashboard</title>
</head>
<body> 
  <header>
    <div class="div-buton-inapoi">
      <a href="../" class="buton-inapoi">&#10094; INAPOI</a>
    </div>
    <nav class="nav-header">
      <ul>
        <li><a href="./?idAngajat=<%= idAngajat %>&privilegii=admin">LOG</a></li>
        <li ><a href="./angajati?idAngajat=<%= idAngajat %>&privilegii=admin">ANGAJATI</a></li>
        <li><a href="/admin/istoric?idAngajat=<%= idAngajat %>&privilegii=admin">ISTORIC</a></li>
        <li><a href="./operatii?idAngajat=<%= idAngajat %>">OPERATII</a></li>
        <li><a href="./utilaje?idAngajat=<%= idAngajat %>">UTILAJE</a></li>
        <li class="highlight"><a href="./rtsp?idAngajat=<%= idAngajat %>">RTSP-URI</a></li>
      </ul>
    </nav>
  </header>

  <section class="sectiune">

    <div style="display: flex; justify-content: space-between;">

      <div class="subsectiune" style="flex: 1.5;">

        <div class="div-buton-adaugare">
          <p>NUMAR RTSP-URI: <%= RTSP.length %> </p>
          <input type="text" placeholder="Cauta RTSP dupa cod RTSP">
        </div>

        <div class="big-daddy-scroll">
          <% RTSP.forEach(rtsp => { %>
            <div class="element-meniu">
              <div class="div-stanga">
                <img src="/icons/user_icon.png">
                <div class="container">
                  <div style="display: flex; flex-direction: column;">
                    <%= rtsp.RTSP %> <%= rtsp.codclient %> <%= rtsp.nume %>
                  </div>
                </div>
              </div>
              <div class="div-dreapta">
                <img class="roata" src="/icons/cog.png">
                <button></button>

                <img class="gunoi" src="/icons/trash.png">
                <form method="POST" action="./sterge-rtsp?idAngajat=<%= idAngajat %>">
                  <input type="hidden" name="id" value="<%= rtsp.RTSP %>">
                  <button type="submit"></button>
                </form>
              </div>
            </div>
          <% }); %>
        </div>
      </div>

      <div class="subsectiune" style="flex: 1; margin: 3em 5em 0 0; text-align: center; padding: 0;">
        
        <form class="adauga" method="POST" action="./rtsp?idAngajat=<%= idAngajat %>">
          
          <p style="margin: 0; font-size: 22px; font-weight: bold;">RTSP NOU</p>

          <div style="display: flex;">
            <div style="display: flex; flex-direction: column; margin-right: 1em;">
              <label for="rtsp">COD RTSP</label>
              <input type="text" id="rtsp" name="rtsp" style="margin-bottom: 0.2rem;">
            </div>
            <div style="display: flex; flex-direction: column;">
              <label for="codclient">COD CLIENT</label>
              <input type="text" id="codclient" name="codclient" style="margin-bottom: 0.2rem;">
            </div>
          </div>

          <label for="nume">NUME PIESA</label>
          <input type=text id="nume" name="nume" style="margin-bottom: 1rem;">

          <div style="display: flex; flex-direction: column; height: 25vh; border: 2px solid black; padding: 0 1em; overflow-y: scroll; margin-bottom: 0;">
            <% Operatii.forEach(operatie => { %>
              <div style="display: flex;">
                <input style="margin: 0;" type="checkbox" name="<%= operatie.id %>" value="<%= operatie.id %>">
                <label style="margin: 0; margin-left: 0.3em;" for="<%= operatie.id %>"> <%= operatie.nume %> </label>
              </div>
            <% }); %>
          </div>

          <div class="div-buton" style="margin-top: 0;">
            <button type="submit">INTRODUCETI</button> 
          </div>

        </form>
      </div>

    </div>

  </section>
</body>
</html>