
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/admin/operatii.css">
  <title>Lambda Admin Dashboard</title>
</head>
<body> 
  <header>
    <div class="div-buton-inapoi">
      <a href="/parola?idAngajat=<%=idAngajat%>" style="margin: 0.4em 0.6em; font-size: 1.6em; font-weight: bold;">&#10094; INAPOI</a>
    </div>
    <nav class="nav-header">
      <ul>
        <li><a href="./?idAngajat=<%= idAngajat %>&privilegii=admin">LOG</a></li>
        <li><a href="/admin/istoric?idAngajat=<%= idAngajat %>&privilegii=admin">ISTORIC</a></li>
        <li ><a href="./angajati?idAngajat=<%= idAngajat %>&privilegii=admin">ANGAJATI</a></li>
        <li><a href="./operatii?idAngajat=<%= idAngajat %>&privilegii=admin">OPERATII</a></li>
        <li class="highlight"><a href="./utilaj?idAngajat=<%= idAngajat %>&privilegii=admin">UTILAJE</a></li>
      </ul>
    </nav>
  </header>

  <section class="sectiune">

    <div style="display: flex; justify-content: space-between;">

      <div class="subsectiune" style="flex: 1.5;">

        <div class="div-buton-adaugare">
          <p>NUMAR UTILAJE: <%= Utilaje.length %> </p>
          <input type="text" placeholder="Cauta utilaj dupa nume">
        </div>

        <div class="big-daddy-scroll">
          <% Utilaje.forEach(utilaj => { %>
            <div class="element-meniu">
              <div class="div-stanga">
                <div class="container">
                  <div style="display: flex; align-items: center;">
                    <img src="/icons/Utilaje_icon.png" style="margin-right: 1em;">
                    <p style="margin: 0; font-weight: bold; font-size: 32px;">
                      <%= utilaj.nume %>
                    </p>
                  </div>
                </div>
              </div>
              <% const vector=utilaj.operatii %>
              <ul style="margin-left: 1em; border: 2px solid black; height: 10vh; overflow-y: scroll;">
                <% vector.forEach(element=> { %>
                  <li style="margin: 0.3em 0; font-size: 18px;">
                    <%= element %>
                  </li>
                <% }); %>
              </ul>
              <div class="div-dreapta">
                <img class="gunoi" src="/icons/trash.png">
                <form method="POST" action="./sterge-utilaj?idAngajat=<%= idAngajat %>">
                  <input type="hidden" name="nume" value="<%= utilaj.nume %>">
                  <button type="submit"></button>
                </form>
              </div>
            </div>
          <% }); %>
        </div>
      </div>

      <div class="subsectiune" style="flex: 1; margin: 3em 5em 0 0; text-align: center;">
        <form class="adauga" method="POST" action="./utilaje?idAngajat=<%= idAngajat %>">
          
          <label for="nume">INTRODUCETI NUME UTILAJ</label>
          <input type="text" name="nume" style="margin-bottom: 1rem;">

          <div style="display: flex; flex-direction: column; height: 40vh; border: 2px solid black; padding: 0 1em; overflow-y: scroll; margin-bottom: 0;">
            <% Operatii.forEach(operatie => { %>
              <% if (operatie.areProgram === true) { %>
                <div style="display: flex;">
                  <input style="margin: 0;" type="checkbox" name="<%= operatie.id %>" value="<%= operatie.id %>">
                  <label style="margin: 0; margin-left: 0.3em;" for="<%= operatie.id %>"> <%= operatie.nume %> </label>
                </div>
              <% } %>
            <% }); %>
          </div>

          <div class="div-buton">
            <button type="submit">INTRODUCETI</button> 
          </div>

        </form>
      </div>

    </div>

  </section>
</body>
</html>