<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/operator/catalog.css">
  <title>Catalog</title>
</head>

<body>

  <header>
    <div class="div-buton-inapoi">
      <a href="/operator?idAngajat=<%=idAngajat%>" class="buton-inapoi">&#10094; INAPOI</a>
      <p style="margin: 0 20vw 0 17vw;">CATALOG PRODUSE</p>
      <button
        onClick="window.location.href = '/operator/catalog-popup?filtru=<%= filtru %>&codReper=null&idAngajat=<%=idAngajat%>';"
        style="margin-left: 0.2em;">ADAUGA PRODUS +</button>
    </div>
  </header>
  <div class="corp">
    <div class="big-daddy-scroll">
      <% if (filtru==="null" ) { %>
        <% produse.forEach(element=> { %>
          <div
            style="display: flex; justify-content: space-between; margin: 1em 0.5em; padding: 1em 1em; font-size: 20px; font-weight: bold; border: 2px solid black;">
            <div style="display: flex; flex-direction: column;">
              <%= element.Denumire %>
                <%= element.Cod_reper %>
                  <% const v=element.Revizii %> <br>
                    <%= v.length %>
                      <% if(v.length> 1) { %>
                        Revizii
                        <% } else { %>
                          Revizie
                          <% } %>
            </div>
            <div style="display: flex; justify-content: center;">
              <button style="background-color: rgba(0,0,0,0); border: none; cursor: pointer;"
                onclick="window.location.href='/operator/catalog-popup?filtru=<%=filtru%>&codReper=<%=element.Cod_reper%>&idAngajat=<%=idAngajat%>'"><img
                  style="width: 2em;" src="/icons/adauga.png"></button>
            </div>
          </div>
          <% }); %>
            <% } else { %>
              <% produse.forEach(element=> { %>
                <% let cod=element.Cod_reper %>
                  <% const string=cod.toString(); %>
                    <% cod=string.substring(cod.length - 6, cod.length - 4) %>
                      <% if (filtru===cod) { %>
                        <div
                          style="display: flex; justify-content: space-between; margin: 1em 0.5em; padding: 1em 1em; font-size: 20px; font-weight: bold; border: 2px solid black;">
                          <div style="display: flex; flex-direction: column;">
                            <%= element.Denumire %>
                              <%= element.Cod_reper %>
                                <% const v=element.Revizii %> <br>
                                  <%= v.length %>
                                    <% if(v.length> 1) { %>
                                      Revizii
                                      <% } else { %>
                                        Revizie
                                        <% } %>
                          </div>
                          <div style="display: flex; justify-content: center;">
                            <button style="background-color: rgba(0,0,0,0); border: none; cursor: pointer;"
                              onclick="window.location.href='/operator/catalog-popup?filtru=<%=filtru%>&codReper=<%=element.Cod_reper%>&idAngajat=<%=idAngajat%>'"><img
                                style="width: 2em;" src="/icons/adauga.png"></button>
                          </div>
                        </div>
                        <% } %>
                          <% }); %>
                            <% } %>
    </div>
    <div class="navbar">
      <form class="sectiune-cautare">
        <label>CAUTA PRODUS</label>
        <div>
          <input type="text" name="Cod_Reper" placeholder="INTRODU COD REPER">
          <button><img style="width: 1.6em; height: 1.6em;" src="/icons/cauta.png"></button>
        </div>
      </form>
      <form id="form" method="POST" action="/operator/catalog" class="sectiune-filtre">
        <p>FILTREAZA ANUL</p>
        <input type="hidden" name="idAngajat" value="<%=idAngajat%>">
        <div class="continut">
          <label style="font-weight: bold;" for="an">AN:</label>
          <select id="mySelect" name="filtru">
            <option value="null">Niciunul</option>
            <option value="10">2010</option>
            <option value="11">2011</option>
            <option value="12">2012</option>
            <option value="13">2013</option>
            <option value="14">2014</option>
            <option value="15">2015</option>
            <option value="16">2016</option>
            <option value="17">2017</option>
            <option value="18">2018</option>
            <option value="19">2019</option>
            <option value="20">2020</option>
            <option value="21">2021</option>
            <option value="22">2022</option>
            <option value="23">2023</option>
            <script>
              const select = document.getElementById("mySelect");
              const filtru = '<%= filtru %>';
              select.value = filtru;
            </script>
          </select>
          <button>CAUTA <img style="width: 1em; height: 1em; margin-left: 0.4em;" src="/icons/cauta.png"></button>
        </div>
      </form>
    </div>
  </div>

    <section class="fundal-pop-up">
  
    <div class="pop-up">
  
      <div class="header-pop-up">
        <p style="margin: 0;">FISA DESCRIERE PRODUS</p>
      </div>

      <form method="POST" action="/operator/catalog-popup?idAngajat=<%=idAngajat%>">
        <div style="display: flex; flex-direction: column;">
          <% if(codReper === "null") { %>

            <div class="extra">
              <div>
                <label>Cod Reper (RTSP):</label>
                <input type="text" name="Cod_Reper" required>
              </div>
              <div style="margin-left: 1.7em;">
                <label>Cod Echivalent Client:</label>
                <input type="text" name="Cod_Client" required>
              </div>
            </div>

            <div class="extra">
              <div>
                <label>Desen:</label>
                <input type="text" name="Desen" required>
              </div>
              <div style="margin-left: 1.7em;">
                <label>Revizie:</label>
                <input type="text" name="Revizie" value="-">
              </div>
            </div>

            <input type="hidden" name="tip" value="produs">

            <label style="margin-top: 0.4em;">Denumire:</label>
            <input style="margin-bottom: 0.4em;" type="text" name="Denumire" required>
          <% } else { %>

            <div class="extra">
              <div>
                <label>Cod Reper (RTSP):</label>
                <input type="text" name="Cod_Reper" value="<%= codReper %>" readonly>
              </div>
              <div style="margin-left: 1.7em;">
                <label>Cod Echivalent Client:</label>
                <input type="text" name="Cod_Client" value="<%= codClient %>" readonly>
              </div>
            </div>

            <div class="extra">
              <div>
                <label>Desen:</label>
                <input type="text" name="Desen" value="<%= Desen %>" required>
              </div>
              <div style="margin-left: 1.7em;">
                <label>Revizie:</label>
                <% if (Rev === "-") { %>
                  <input type="text" name="Revizie" required>
                <% } else { %>
                  <input type="text" name="Revizie" value="<%= Rev %>" required>
                <% } %>
              </div>
            </div>

            <input type="hidden" name="tip" value="revizie">

            <label style="margin-top: 0.4em;">Denumire:</label>
            <input style="margin-bottom: 0.4em;" type="text" name="Denumire" value="<%= denumire %>" readonly>
          <% } %>

          <input type="hidden" name="filtru" value="<%= filtru %>">
        </div>
        <div style="margin-left: 1em; margin-top: 1em; display: flex; flex-direction: column; height: 25vh; border: 2px solid black; padding: 0 1em; overflow-y: scroll; margin-bottom: 0;">
          <% operatii.forEach(operatie => { %>
            <div style="display: flex;">
              <input style="margin: 0;" type="checkbox" name="<%= operatie.id %>" value="<%= operatie.id %>">
              <label style="margin: 0; margin-left: 0.3em;" for="<%= operatie.id %>"> <%= operatie.nume %> </label>
            </div>
          <% }); %>
        </div>

      <script>
        function disableSubmitButton() {
          var form = document.getElementById("form");
          var button = document.getElementById("button");

          form.addEventListener("submit", () => {
            button.disabled = true;
          })
        }
      </script>

        <div class="footer-pop-up">
          <button type="button" onclick="window.location.href='/operator/catalog?filtru=<%=filtru%>&idAngajat=<%=idAngajat%>'" style="margin-right: 2em;">ANULATI</button>
          <button  id="button" type="submit">OK</button>
        </div>
      </form>
  
    </div>

  </section>
</body>

</html>