<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/operator/info-popup.css">
  <title>Operator</title>
</head> 

<body>


  <section class="fundal-pop-up">
  
    <form class="pop-up">
  
      <div class="titlu-popup">
        <p style="text-decoration: underline;">
          Detalii comanda #<%= lot._id %>:
        </p>
        <p class="stadiu">
          <%= lot.Stadiu_lot %>
          <% if (lot.Stadiu_lot === "In lucru") { %>
            <img class="icon" src="/icons/in-lucru.png">
          <% } else { %>
            <img class="icon" src="/icons/finalizat.png">
          <% } %>
          <button type="button" class="anuleaza"><img style="width: 1.8em;" onclick="window.location.href='/operator?idAngajat=<%=idAngajat%>'" src="/icons/cancel.png"></button>
        </p>
      </div>

      <div class="content">
        <div class="coloana">
          <div class="informatii" style="margin-top: 1em;">
            <p>
              <span>Identificator:</span>
              <%= lot.Identificator %>
            </p>
          </div>
          <div class="informatii">
            <p>
              <span>Produs:</span>
              <%= lot.Denumire %> (<%= lot.Revizie %>)
            </p>
          </div>
        </div>
        <div class="coloana">
          <div class="informatii" style="margin-top: 1em;">
            <p>
              <% var data=lot.Termen_Livrare; %>
              <% data=data.toString() %>
              <% data=data.substring(0,15); %>
              <span>Termen Livrare:</span>
              <%= data %>
            </p>
          </div>
          <div class="informatii">
            <p>
              <% if (lot.Stadiu_lot === "Finalizat") { %>
                <span>Finalizate:</span>
              <% } else { %>
                <span>In lucru:</span>
              <% } %>
              <%= lot.cantitateaTotala - lot.cantitateRebut %>/<%= lot.cantitateaTotala %>
              <% if (lot.cantitateaTotala > 1) { %>
                produse
              <% } else { %>
                produs
              <% } %>
              <% if(lot.Stadiu_lot !== "Finalizat") { %>
                  (Rebut: <%= lot.cantitateRebut %>)
              <% } %>
            </p>
          </div>
          <% if (lot.Stadiu_lot === "Finalizat") { %>
            <div class="informatii">
              <p>
                <span style="color: red;">In rebut:</span>
                <%= lot.cantitateRebut %>/<%= lot.cantitateaTotala %>
                <% if (lot.cantitateRebut > 1) { %>
                  produse
                <% } else { %>
                  produs
                <% } %>
              </p>
            </div>
          <% } %>
        </div>
      </div>

      <% if (lot.Stadiu_lot === "In lucru") { %>
        <div class="stadiu-lot">
          <p>
            <span>Stadiu:</span> 
            <% let i = 0; %>
            <% let ok = 1; %>
            <% let v = lot.stadiuOperatie; %>
            <% v = v.slice(1, v.length) %>
            <% v.forEach(stadiu => { %>
              <% if (ok === 1) { %>
                <% if (stadiu === "NULL" || stadiu === "Finalizata") { %>
                  <% i++; %>
                <% } else { %>
                  <% console.log(v, i) %>
                  <% const str=operatii[i].nume; %>
                  <% if (stadiu === "In asteptare") { %>
                    Se pregateste operatia de <%= str.toLowerCase() %>
                  <% } else { %>
                    Se efectueaza operatia de <%= str.toLowerCase() %>
                  <% } %>
                  <% ok = 0; %>
                <% } %>
              <% } %>
            <% }); %>
          </p>
        </div>
      <% } else {

      } %>
    </form>
  </section>

  
  <header>
    <div class="div-buton-inapoi" style="width: 20%;">
      <a style="font-size: 1.3em;" href="../" class="buton-inapoi">&#10094; INAPOI</a>
    </div>
    <p style="margin-left: 5%; margin-right: -20%;">FISE DE URMARIRE LOTURI <img style="display:inline; margin: 0; margin-left: 8%; margin-bottom: -15px; width: 10%;" src="/images/logo-ratis-color.jpg"></p>
    <button onClick="window.location.href = '/operator/catalog?filtru=null&idAngajat=<%=idAngajat%>';" style="margin-right: 0;">CATALOG PRODUS</button>
    <button onClick="window.location.href = '/operator/popup?err=null&idAngajat=<%= idAngajat %>';" style="margin-left: 0.2em;">ADAUGA FISA +</button>
  </header>

  <div class="corp">

    <div style="display: flex; flex-direction: column; width:35%;">
      <section class="titlu" style="border-bottom: none;">
        <p>LOTURI IN ASTEPTARE</p>
      </section>
      <section class="meniu-adaugare">
        <% loturiInCreare.forEach( lot=> { %>
          <div class="element">
            <div class="titlu">
              <p><img style="width:1rem; height: 1rem; margin-right: 0.6em;" src="/icons/in-editare.png">Lot #<%= lot._id %> - <%= lot.Identificator %> </p>
            </div>
            <div class="continut">
              <p><span style="font-weight: bold;">Comanda:</span> <%= lot.cantitateaTotala %> x <%= lot.Denumire %> (<%= lot.Cod_reper %>)</p>
              <p><span style="font-weight: bold;">Termen de Livrare:</span> <%= lot.Termen_Livrare %></p>
            </div>
            <div class="butoane">
              <form method="GET" action="/operator/confirmare">
                <input type="hidden" id="id" name="id" value="<%= lot._id %>">
                <input type="hidden" name="idAngajat" value="<%= idAngajat %>">

                <button style="background: red;" type="submit" class="cancel"><img src="/icons/cancel.png"></button>
              </form>
              <form style="margin-right: 1em;" method="POST" action="/operator/deschide-comanda?idAngajat=<%= idAngajat %>&lot=<%= lot._id %>">
                <input type="hidden" name="numar" value="<%= lot.Cod_reper %>">
                <button style="background-color: green;" type="submit" class="add"><img src="/icons/plus.png"></button>
              </form>
            </div>
          </div>
        <% }); %>
      </section>
    </div>

    <div style="display: flex; flex-direction: column; width: 63%;">
      <section class="titlu" style="border-bottom: none;">
        <p style="margin: 0.05em 0;" >LOTURI IN PRODUCTIE</p>
      </section>
      <section class="lista">
        <% loturiFinalizate.forEach(lot=> { %>
          <br>
          <div style="border: 3px solid black; width: 120%; height: 0.2em;"></div> <br>
          <div class="element2">
            <div class="div-stanga">
              <p style="margin: 0;">LOTUL #<%= lot._id %> - <%= lot.Identificator %>
              </p>
            </div>
            <div class="div-dreapta">
              <div style="width: 18vw; display: flex; justify-content: end;">
                <div style="width: 100%; display: flex; flex-direction: column; align-items: end;">
                  <div style="width: 100%; display: flex; justify-content: end;">
                    FINALIZAT <br>
                    <img src="/icons/finalizat.png">
                  </div>
                  <% if (lot.cantitateRebut> 0) { %>
                    <p style="margin: 0;"><span style="color:red;"><%=lot.cantitateRebut%> Produse In Rebut</span></p>
                  <% } %>
                </div>
              </div>
              <div style="width: 9vw; display: flex; justify-content: end;">
                <button class="yes" onclick="window.location.href='/operator/print?id=<%= lot._id %>&tip=raport&idAngajat=<%=idAngajat%>'"><img
                    style="width:2em; height: 2em;" src="/icons/print.png"></button>
                <button class="yes" onclick="window.location.href='/operator/finish-popup?id=<%= lot._id %>&idAngajat=<%= idAngajat %>'">
                  <img style="width:2em; height: 2em;" src="/icons/plus.png">
                </button>
              </div>
            </div>
          </div>
        <% }); %>
        <% loturiInCurs.forEach(lot=> { %>
          <br>
          <div style="border: 3px solid black; width: 120%; height: 0.2em;"></div> <br>
          <div class="element2">
            <div class="div-stanga">
              <p style="margin: 0;">LOTUL #<%= lot._id %> - <%= lot.Identificator %></p>
            </div>
            <div class="div-dreapta">
              <div style="width: 12vw; display: flex; justify-content: end;">
                IN LUCRU
                <img src="/icons/in-lucru.png">
              </div>
              <div style="width: 9vw; display: flex; justify-content: end;">
                <button class="yes" onclick="window.location.href='/operator/print?id=<%= lot._id %>&tip=fisa&idAngajat=<%=idAngajat%>'"><img style="width:2em; height: 2em;" src="/icons/print.png"></button>
                <button class="yes" onclick="window.location.href='/operator/info-popup?id=<%= lot._id %>&idAngajat=<%= idAngajat %>'"><img style="width:2em; height: 2em;" src="/icons/info.png"></button>
              </div>
            </div>
          </div>
        <% }); %>
        <br>
        <% if (loturiInCurs.length > 0 || loturiFinalizate.length > 0) { %>
          <div style="border: 3px solid black; width: 120%; height: 0.2em;"></div> <br>
        <% } %>
      </section>
    </div>
  </div>
  
</body>
</html>