<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/operator/catalog.css">
  <title>Smart Catalog</title>
</head>

<body>

  <header>
    <div class="div-buton-inapoi">
      <a href="/operator?idAngajat=<%=idAngajat%>" class="buton-inapoi">&#10094; INAPOI</a>
      <p>CATALOG PRODUSE</p>
      <button onClick="window.location.href = '/operator/catalog-popup?filtru=<%= filtru %>&codReper=null&idAngajat=<%=idAngajat%>';" style="margin-left: 0.2em;">ADAUGA PRODUS +</button>
    </div>
  </header>
  <div class="corp">
    <div class="big-daddy-scroll">
      <% if (filtru === "null") { %>
        <% produse.forEach(element => { %>
          <div style="display: flex; justify-content: space-between; margin: 1em 0.5em; padding: 1em 1em; font-size: 20px; font-weight: bold; border: 2px solid black;">
            <div style="display: flex; flex-direction: column;">
              <%= element.Denumire %> <%= element.Cod_reper %>
              <% const v = element.Revizii %> <br> 
              <%= v.length %>
              <% if(v.length > 1) { %>
                Revizii
              <% } else { %>
                Revizie
              <% } %>
            </div>
            <div style="display: flex; justify-content: space-between; width: 10vw;">
                <button style="background-color: rgba(0,0,0,0); border: none; cursor: pointer; margin-left: -10px;" onclick="window.location.href='/operator/selectie-revizie?filtru=<%=filtru%>&codReper=<%=element.Cod_reper%>&idAngajat=<%=idAngajat%>'"><img style="width: 2.4em;" src="/icons/cog.png"></button>
                <button style="background-color: rgba(0,0,0,0); border: none; cursor: pointer; margin-left: -4px;" onclick="window.location.href='/operator/catalog-popup?filtru=<%=filtru%>&codReper=<%=element.Cod_reper%>&idAngajat=<%=idAngajat%>'"><img style="width: 2.4em;" src="/icons/adauga.png"></button>
                <button style="background-color: rgba(0,0,0,0); border: none; cursor: pointer;" onclick="window.location.href='/operator/sterge-produs?filtru=<%=filtru%>&idProdus=<%=element.Cod_reper%>&idAngajat=<%=idAngajat%>'"><img style="width: 2.4em;" src="/icons/trash.png"></button>
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <% produse.forEach(element => { %>
          <% let cod = element.Cod_reper %>
          <% const string = cod.toString(); %>
          <% cod = string.substring(cod.length - 6, cod.length - 4) %>
          <% if (filtru === cod) { %>
            <div style="display: flex; justify-content: space-between; margin: 1em 0.5em; padding: 1em 1em; font-size: 20px; font-weight: bold; border: 2px solid black;">
              <div style="display: flex; flex-direction: column;">
                <%= element.Denumire %> <%= element.Cod_reper %>
                <% const v = element.Revizii %> <br> 
                <%= v.length %>
                <% if(v.length > 1) { %>
                  Revizii
                <% } else { %>
                  Revizie
                <% } %>
              </div>
              <div style="display: flex; justify-content: center;">
                <button style="background-color: rgba(0,0,0,0); border: none; cursor: pointer; margin-left: -10px;" onclick="window.location.href='/operator/selectie-revizie?filtru=<%=filtru%>&codReper=<%=element.Cod_reper%>&idAngajat=<%=idAngajat%>'"><img style="width: 2em;" src="/icons/cog.png"></button>
                <button style="background-color: rgba(0,0,0,0); border: none; cursor: pointer; margin-left: -4px;" onclick="window.location.href='/operator/catalog-popup?filtru=<%=filtru%>&codReper=<%=element.Cod_reper%>&idAngajat=<%=idAngajat%>'"><img style="width: 2em;" src="/icons/adauga.png"></button>
                <button style="background-color: rgba(0,0,0,0); border: none; cursor: pointer;" onclick="window.location.href='/operator/sterge-produs?filtru=<%=filtru%>&idProdus=<%=element.Cod_reper%>&idAngajat=<%=idAngajat%>'"><img style="width: 2em;" src="/icons/trash.png"></button>
              </div>
            </div>
          <% } %>
        <% }); %>
        <% } %>
    </div>
    <div class="navbar">
      <form method="POST" action="/operator/catalog" class="sectiune-filtre">
        <p>FILTREAZA ANUL</p>
        <input type="hidden" name="idAngajat" value="<%=idAngajat%>">
        <div class="continut">
          <div style="display: flex;">
            <label style="font-weight: bold;" for="an">AN:</label>
            <select id="mySelect" name="filtru">
              <option value="null">Niciunul</option>
              <option value="10">2010</option>
              <option value="11">2011</option>
              <option value="12">2012</option>
              <option value="13">2013</option>
              <option value="14">2014</option>
              <option value="15">2015</option>
              <option value="16">2016</option>
              <option value="17">2017</option>
              <option value="18">2018</option>
              <option value="19">2019</option>
              <option value="20">2020</option>
              <option value="21">2021</option>
              <option value="22">2022</option>
              <option value="23">2023</option>
              <option value="24">2024</option>
              <script>
                const select = document.getElementById("mySelect");
                const filtru = '<%= filtru %>';
                select.value = filtru;
              </script>
            </select>
          </div>
          <button>CAUTA <img style="width: 1em; height: 1em; margin-left: 0.4em;" src="/icons/cauta.png"></button>
        </div>
      </form>
    </div>
  </div>
  </div>

    <section class="fundal-pop-up">
  
    <div class="pop-up">
  
      <div class="header-pop-up">
        <p style="margin: 0;">FISA DESCRIERE PRODUS</p>
      </div>

      <form method="POST" action="/operator/sterge-produs">
        
        <p style="font-size: 20px;">Doriti sa stergeti produsul <%= idProdus %>, cu toate reviziile sale?</p>

        <input type="hidden" name="filtru" value="<%=filtru%>">
        <input type="hidden" name="idProdus" value="<%=idProdus%>">
        <input type="hidden" name="idAngajat" value="<%=idAngajat%>">

        <div class="footer-pop-up" style="display: flex; width: 20vw; justify-content: space-between;">
          <button type="button" style="width: 8vw;" onclick="window.location.href='/operator/catalog?filtru=<%=filtru%>&idAngajat=<%=idAngajat%>'" style="margin-right: 2em;">ANULATI</button>
          <button type="submit" style="width: 8vw;">OK</button>
        </div>
      </form>
  
    </div>

  </section>
</body>

</html>